@import 'vars'

*
  box-sizing:border-box

body
  margin:0
  padding:0
  background:black
  color:white
  font-family:$fonts

a
  color: white
  font-weight:bold
  text-decoration:none

.hidden
  display:none !important

.title-bar
  position:absolute
  background:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6))
  height:20px
  left:0
  right:0
  height:36px
  z-index:10
  opacity:0
  transition:200ms opacity

  .select
    position:absolute
    right:7px
    top:7px
    z-index:0

    &:after
      position:absolute
      right:0
      height:24px
      width:24px
      content''
      background:url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xNi41OSA4LjU5TDEyIDEzLjE3IDcuNDEgOC41OSA2IDEwbDYgNiA2LTZ6Ii8+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPg==')

    select
      position:relative
      z-index:1
      color:white
      padding: 5px 24px 5px 5px
      border: none
      box-shadow: none
      background:none
      -webkit-appearance: none
      font-family:$fonts
      font-size:12px

      &:focus
        outline: none

body:hover
  .title-bar
    opacity:1

.song
  position:relative
  width:300px
  height:300px

  &:before
  .song-cover
    position:absolute
    width:100%
    height:100%

  &:before
    content:''
    z-index:1
    background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.75))

  .song-meta
    z-index:2
    text-align:center
    position:absolute
    bottom:0
    width:100%
    padding:10px

  .song-title
    font-size:18px
    font-weight:500

  .song-artist
    font-size:13px
    opacity:0.7

  .song-controls
    margin-top:10px

  .song-play
  .song-prev
  .song-next
  .song-pause
    display:inline-block
    height:48px
    width:48px
    fill:white
    cursor:pointer
    background-size:cover

  .song-prev
  .song-next
    transform:scale(0.6)

  .song-play
    background:url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KICAgIDxwYXRoIGQ9Ik0xMCAxNi41bDYtNC41LTYtNC41djl6TTEyIDJDNi40OCAyIDIgNi40OCAyIDEyczQuNDggMTAgMTAgMTAgMTAtNC40OCAxMC0xMFMxNy41MiAyIDEyIDJ6bTAgMThjLTQuNDEgMC04LTMuNTktOC04czMuNTktOCA4LTggOCAzLjU5IDggOC0zLjU5IDgtOCA4eiIvPgo8L3N2Zz4=')

  .song-pause
      background:url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KICAgIDxwYXRoIGQ9Ik05IDE2aDJWOEg5djh6bTMtMTRDNi40OCAyIDIgNi40OCAyIDEyczQuNDggMTAgMTAgMTAgMTAtNC40OCAxMC0xMFMxNy41MiAyIDEyIDJ6bTAgMThjLTQuNDEgMC04LTMuNTktOC04czMuNTktOCA4LTggOCAzLjU5IDggOC0zLjU5IDgtOCA4em0xLTRoMlY4aC0ydjh6Ii8+Cjwvc3ZnPg==')

  .song-prev
    background:url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik02IDZoMnYxMkg2em0zLjUgNmw4LjUgNlY2eiIvPgogICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPgo8L3N2Zz4=')

  .song-next
    background:url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik02IDE4bDguNS02TDYgNnYxMnpNMTYgNnYxMmgyVjZoLTJ6Ii8+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPg==')
